:root {
  --main-bg-color: rgb(57, 82, 123);
  --secondary-bg-color: blue;
  --main-bg-color-alpha: rgba(57, 82, 123, .5);
  --visible-z-index: 100;
  --button-hover-color: white;
  --button-hover-bg-color: rgb(72, 92, 114);
  --button-active-color: rgb(72, 92, 114);
  --button-active-bg-color: white;
  --button-bg-color: rgb(87, 108, 144);
  --button-color: #ececec;
  --border: 1px solid white;
}

body {
  font: normal 12px/1.6667 "-apple-system", BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
        sans-serif;
  overflow: hidden;
}

.modal-padding {
  padding: 10px;
  background-color: --main-bg-color;
}

.modal-full-size button {
  /* cause material-ui hates me. REFACTOR */
  padding: 0px !important;
  margin: 0px;
  margin-left: 0px !important;
  width: 100%;
}

.right {
  text-align: right;
}

.full {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media print {
  .full {
    position: static;
  }
}

button.big {
  padding: 10px;
  min-width: 300px;
  line-height: 1.2;
  font-size: 14px;
  text-align: center;
  margin: 10px 0px;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border: var(--border);
}

button.big:disabled {
  background-color: white !important;
  color: black;
}

button.big:hover:not([disabled]) {
  color: var(--button-hover-color);
  background-color: var(--button-hover-bg-color);
}

#bar {
  background-color: var(--main-bg-color);
}

#logoutLink,
#userLink,
.save-communityLinks,
.feature-list-pane,
.request-review,
.button.social {
  display: none !important;
  display: none;
}

#welcome {
  overflow: auto;
  padding: 0px;
}

#welcome h1 {
  line-height: 1.4;
  font-size: 30px;
}

#welcome h2 {
  line-height: 1.2;
  font-size: 20px;
}
#welcome a {
  color: var(--button-hover-color);
}
.action-buttons {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.intro-text {
  width: 60%;
}

#screen-1 {
  text-align: center;
  margin: auto;
}

#screen-2,
#screen-3 {
  padding-left: 100px;
}
#skip-intro {
  position: absolute;
  color: #efefef;
  top: 30px;
  right: 30px;
  display: block;
  text-transform: uppercase;
}
#skip-intro:hover {
  cursor: pointer;
}
#welcome p {
  font-size: 14px;
  margin-bottom: 10px;
  width: 500px;
  max-width: 100%;
}

/* roboto-300 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v18-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v18-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-ext_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v18-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v18-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-ext_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
