:root {
  --main-bg-color: rgb(57, 82, 123);
  --main-bg-color-alpha: rgba(57, 82, 123, .5);
  --visible-z-index: 100;
  --button-hover-color: white;
  --button-hover-bg-color: rgb(72, 92, 114);
  --button-active-color: rgb(72, 92, 114);
  --button-active-bg-color: white;
  --button-bg-color: rgb(87, 108, 144);
  --button-color: #ececec;
  --border: 1px solid white;
}
.button-group {
  text-align: right;
}

.full {
  position: absolute;
  width: 100%;
  height: 100%;
}

button.big {
  padding: 10px;
  min-width: 300px;
  line-height: 1.2;
  font-size: 14px;
  text-align: center;
  margin: 10px 0px;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border: var(--border);
}
button.big:hover {
  color: var(--button-hover-color);
  background-color: var(--button-hover-bg-color);
}

#logoutLink,
#userLink,
.save-communityLinks,
.feature-list-pane .search-header,
.request-review,
.button.social {
  display: none !important;
  display: none;
}

h1 {
  line-height: 1.4;
  font-size: 30px;
}
h2 {
  line-height: 1.2;
  font-size: 20px;
}
.action-buttons {
  display: flex;
  flex-direction: column;
}
.intro-text {
  width: 60%;
}
#screen-1 {
  text-align: center;
  margin: auto;
}
#skip-intro {
  position: absolute;
  color: #efefef;
  top: 30px;
  right: 30px;
  display: block;
  text-transform: uppercase;
}
#skip-intro:hover {
  cursor: pointer;
}
p {
  font-size: 14px;
  margin-bottom: 10px;
  width: 500px;
  max-width: 100%;
}
